<!DOCTYPE HTML>
<html>
  <head>
    <title>My StdLib Static Site</title>
    <link href="./static/style.css" rel="stylesheet">
    <script src="./static/script.js"></script>
  </head>
  <body>
    <h1>My StdLib Static Website</h1>
    <div>
      <img src="./static/images/stdlib-logo.png">
    </div>
    <p>
      Welcome to your StdLib Static Website!
    </p>
    <%- include('welcome') %>
  </body>
</html>
